@using BooksStorage.ViewModels
@model IList<BooksStorage.ViewModels.PersonViewModel>

@{
    ViewBag.Title = "Писатели";

}

<h2>Писатели</h2>
<table class="table table-bordered table-hover table-sortable" id="idAuthorStorage">
    <thead>
    <tr>
        <th class="text-center">Фамилия</th>
        <th class="text-center">Имя</th>
        <th class="text-center"></th>
        <th class="text-center"><span class="glyphicon glyphicon-plus btn btn-default add-button" aria-hidden="true" title="добавить книгу"></span></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var author in Model)
    {
       @Html.DisplayFor(a=>author, "PersonItem");
    }
    </tbody>
</table>

@section scripts
{
    <script type="text/javascript">
            $(document).ready(function() {
                AuthorsModule.InitEvents();
                AuthorsModule.PersonIdPrefix = '@PersonViewModel.PersonIdPrefix';
            });
    </script>
}

@section additinal_html
{
<div id="idAuthorBox" class="modal ">
    <div class="modal-dialog">
        <div class="modal-content  form-container">
            <!-- Заголовок модального окна -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Писатели</h4>
            </div>
            <!-- Основное содержимое модального окна -->
            <div class="modal-body">
            </div>
            <!-- Футер модального окна -->
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default">Сохранить изменения</button>
                <button type="button" class="btn btn-sm btn-warning" data-dismiss="modal">Закрыть</button>
            </div>

        </div>
    </div>
</div>
}
