@using BooksStorage.Utils
@using BooksStorage.ViewModels
@using DomainModel
@model IEnumerable<BooksStorage.ViewModels.BookViewModel>
@{
    ViewBag.Title = "Редактор книг";

}
<input type="file" name="filemy" id="filemy" placeholder="обложка ..." class="form-control">
<button type="button" id="runUpload" >run</button>
<table class="table table-bordered table-hover table-sortable" id="idTabStorage">
    <thead>
        <tr>
            <th class="text-center">название</th>
            <th class="text-center">автор(ы)</th>
            <th class="text-center">изображение</th>
            <th class="text-center">кол-во страниц</th>
            <th class="text-center">издательство</th>
            <th class="text-center">ISBN</th>
            <th class="text-center">год публикации</th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            @Html.DisplayFor(m => book, "BookItem")
            }
    </tbody>
</table>


@section scripts
{
    <script type="text/javascript" src="/Scripts/Utils/BookEditorModule.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            BookEditorModule.InitEvents();
            BookEditorModule.BookItemIdPrefix = '@BookViewModel.BookItemidPrefix';
       
            $("#file2").on('change', function (e) {
                e.preventDefault();
                FileModule.UploadFile();
                return false;
            });

            $("#runUpload").on('click', function(e) {
                e.preventDefault();
                FileModule.UploadFile();
                
                return false;
            });
        });
    </script>
}

@section additinal_html
{
    <div id="idBookBox" class="modal ">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Заголовок модального окна -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Книжное хранилище</h4>
                </div>
                <!-- Основное содержимое модального окна -->
                <div class="modal-body">
                </div>
                <!-- Футер модального окна -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-default">Сохранить изменения</button>
                    <button type="button" class="btn btn-sm btn-warning" data-dismiss="modal">Закрыть</button>
                </div>

            </div>
        </div>
    </div>
}
