@model BooksStorage.ViewModels.BookEditViewModel

@{
    Layout = null;
}


<div class="contact-form">

    @using (Ajax.BeginForm(null, null,
                            null, new AjaxOptions
                            {
                                HttpMethod = "POST",
                                OnSuccess = "BookEditorModule.SuccessSave",
                                OnFailure = "BookEditorModule.FailSave",
                                Url = "api/BooksStorageManager/SaveBook"
                            }, new
                            {
                                role = "form",
                                id = "idSaveBook"
                            }
                           ))
    {
      @Html.Partial("BookFormItem", Model)
    }
    
    <div class="form-group">
        @Html.LabelFor(m => m.BookFileName, new { @class = "" })
        <input type="file" name="file" id="file" placeholder="обложка ..." class="form-control">
    </div>

</div>

<!--

$(function () {
    $.validator.methods.date = function (value, element) {
        return this.optional(element) || moment(value, "DD.MM.YYYY", true).isValid();
    }
});
-->
