body, html {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

* html #maket {
    height: 100%;
}

#maket {
    width: 100%;
    margin: 0 auto;
    min-height: 100%;
}

#header {
    background-color: #C0C000;
}


#content {
    background-color: #8080FF;
    margin-left: 202px;
    margin-right: 202px;
}

#footer {
    background-color: #FFC0FF;
    clear: both;
    height: 50px;
    margin-top: -50px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#rasporka {
    height: 50px;
}

.books {
    
}

ul.authors li {
    list-style: none;
}