.book-image {
    width: 100px;
}
.modal-body {
    max-height: 70ex;
    overflow-y: auto;
}
.contact-form {
    
}

dl.content-items dt{
    float: left;
    width: 3ex;
}

dl.content-items dd{
    margin-left: 4ex;
    text-align: left;
}